backups

# Emacs ignores
emacs.vanilla/auto-save-list/
emacs.vanilla/backups/
emacs.vanilla/bookmarks
emacs.vanilla/elpa/
emacs.vanilla/ac-comphist.dat
emacs.vanilla/srecode-map.el
emacs.vanilla/transient
emacs.vanilla/projectile-bookmarks.eld
emacs.vanilla/elpy
emacs.vanilla/eshell
emacs.vanilla/request
emacs.vanilla/url
emacs.vanilla/.local
emacs.vanilla/.org-id-locations
emacs.vanilla/org-roam.db


*.log
*.err
*.out
zsh/zshrc-work
